* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url('imgs/Patient.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #f2f9fd;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.brand-name {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Login-doc-button {
  background-color: #25a0d5;
  border: 2px solid #25a0d5;
  border-radius: 30px;
  box-shadow: #333 4px 4px 0 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  align-items: center;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 203px;
  margin-left: auto;
  margin-right: auto;
}

.Login-doc-button:hover {
  background-color: #333;
  border-color: #333;
  box-shadow: #333 2px 2px 0 0;
}

.Login-doc-button:active {
  box-shadow: #333 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .Login-doc-button {
    min-width: 120px;
    padding: 0 25px;

  }
}
