

*{
    margin: 0;
    box-sizing: border-box;
    font-family:"Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
}

.pg1 {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#details{
    
    position: relative;
    justify-content: center;
    align-items: center;


}

#loginhead{

    font-weight: 500;

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  

}

#inb{
    background-color: antiquewhite;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 2em;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */

}

input{

    border: none;
    background-color: rgb(229,226,226);
    height: 4em;
    width: 100%;
    border-radius: 0.25em;
    text-align: center;
}


/* CSS */
.bc1 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.bc1:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .bc1 {
    font-size: 1.1rem;
    padding: 1rem 2rem;
  }
}